   body{
     padding: 0;
     margin: 0;
     font-family: 'Poppins', sans-serif;
   }
   
   .name-highlit{
        color:red;
      }
    
    h1{
        font-size: 35px;
     }

   .upper-section{
       width: 100%;
       height: 380px;
    }
    .picture{
      background-image: url("images/header-bg.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      }  
   
   .half-width1{
      position: absolute;
      width: 40%;
      top: 20px;
      left: 75px;
      padding: 40px;
   }
     
     .half-width2 img{
      position: absolute; 
      width: 30%;
      top: 10px;
      right: 110px;
    }

    .anchor{
      text-decoration: none;
      padding: 5px 13px;
      list-style: none;
      background-image: linear-gradient(45deg,lightsalmon,tomato);
      color: white;
      border-radius: 5px;
      font-weight: 700;
    }
    
    .upper-section1{
      width: 100%;
      height: 380px;
   }

   .half-width3 img{
   position: absolute; 
   width: 25%;
   top: 410px;
   left: 110px;
 }

 .half-width4{
  position: absolute;
  width: 40%;
  top: 410px;
  right: 75px;
  padding: 40px;
}

.picture1{
  background-image: url("images/biography-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.new-box{
  width: 100%;
  height: 379px;
  position: relative;
}

.bg-img {
 background-image: url("images/latest.png");
 background-size: 100% 100%;
 background-repeat: no-repeat;
 }

.letter{
  text-align: center;
}

.first-box img{
  width: 250px;
  height: 192px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 100px;
  margin: auto;
}

.first-box1 img{
  width: 250px;
  height: 195px;
  position: absolute;
  bottom: 0;
  top: 5px;
  left: 410px;
  margin: auto;
}

.first-box2 img{
  width: 250px;
  height: 195px;
  position: absolute;
  bottom: 10px;
  top: 0;
  left: 720px;
  margin: auto;
}

.under-section{
  width: 100%;
  height: 500px;
  position: relative;
}

.bg-img2{
  background-image: url("images/footer-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.dummy{
  font-size: 15px;
}

.special-effect{
    color: dimgray;
}

.part-one{
  width: 350px;
  height: 290px;
  padding: 8px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}
.part-two{
  width: 40%;
  text-decoration: none;
  bottom: 0;
  left: 0;
  margin: auto;
  }

.twopart{
  text-align: center;
  background:rgba(255, 0, 162, 0.993);
  color: white;
  border-radius: 5px;
  font-weight: 700;
  padding-bottom: 16px;
}

.none{
  text-decoration: none;
  color: white;
}

footer p{
  font-size: 12px;
  text-align: center;
  color: dimgray;
}

.box:hover{
  color: red;
}

.anc-color:hover{
  color: red;
  background: cyan;
}



.container span{
  text-transform: uppercase;
  display: block;
}

.text1{
  color: black;
  animation: text 3s 1;
  background: white;
 font-weight: 700;
 position: relative;
 animation: text 3s 1;
 font-size: 40px;
}

.text2{
  font-size: 35px;
  color: red;
}

@keyframes text{
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}





   
